<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,700i" rel="stylesheet">
    <title>Busqueda de certificado @Medellín</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/ed-grid.min.css">
    <link rel="stylesheet" href="/css/template.css">
</head>
<body>
<div class="ed-container">
    <div class="ed-item s-100 align-center">
        <h3 class="align-center">Ingrese el número de su documento de identidad o correo electrónico para descargar el certificado.</h3>
        <input type="text" name="documento" class="input centro" placeholder="Documento de identidad o correo electrónico">
        <button class="btn orange searchCertificate">Consultar</button>
    </div>
</div>
<div class="ed-container">
    <div id="containt-table" class="ed-item s-100 align-center">
        <h3>Bienvenido(a), Nombre Apellido</h3>
        <p>A continuación encontrará los certificados disponibles.</p>
        <table border="0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Certificado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>Nombre de curso.</td>
                    <td><a class="openCerticate" href="">Descargar</a></td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Nombre de curso.</td>
                    <td><a class="openCerticate" href="">Descargar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="/js/template.js"></script>
</body>
</html>